<form #form="ngForm">
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput required name="title" [(ngModel)]="articleFormData.title"/>
    </mat-form-field>
    <angular-editor name="body" required [config]="editorConfig" [placeholder]="'Enter text here...'" [(ngModel)]="articleFormData.body"></angular-editor>
    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select  name="category" required [(ngModel)]="articleFormData.category" >
        <mat-option *ngFor="let cat of categories" [value]="cat.name">{{
          cat.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
  <button [disabled]="isFormInvalid()"  mat-raised-button color="primary" (click)="createArticle(articleFormData)">Save</button>
</form>
