<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>person</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item disabled *ngIf="isLoggedIn()">
    <span> {{ currUser?.name }} </span>
  </button>
  <a mat-menu-item *ngIf="currUser?.isAdmin" href="/users">
    <mat-icon>supervised_user_circle</mat-icon>
    <span>Manage users</span>
  </a>
  <app-login-form-modal *ngIf="!isLoggedIn()"></app-login-form-modal>
  <button mat-menu-item *ngIf="isLoggedIn()" (click)="logOut()">
    <mat-icon>logout</mat-icon>
    <span>Log out</span>
  </button>
</mat-menu>
