<form #form="ngForm">
  <mat-dialog-content class="user-form-content">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput name="name" [(ngModel)]="userFormData.name"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput name="username" [(ngModel)]="userFormData.username"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput name="password" [(ngModel)]="userFormData.password"/>
    </mat-form-field>
    <mat-checkbox name="isAdmin" [(ngModel)]="userFormData.isAdmin">is admin</mat-checkbox>
    <mat-checkbox name="isActive" [(ngModel)]="userFormData.isActive">is active</mat-checkbox>
  </mat-dialog-content>
  <button [disabled]="isFormInvalid()" mat-raised-button color="primary" (click)="createOrUpdateUser(userFormData)">Save</button>
</form>
