<app-user-form-modal></app-user-form-modal>

<mat-card class="user-card" *ngFor="let user of users" (click)="this.currUser?.id === user.id ? null : openEditUserDialog(user)">
  <mat-card-title>{{ user.name }}</mat-card-title>
  <mat-card-content class="user-card-content">
    <mat-checkbox [checked]="user.isActive" [disableRipple]="true" (click)="$event.preventDefault()">Is active</mat-checkbox>
    <mat-checkbox [checked]="user.isAdmin" [disableRipple]="true" (click)="$event.preventDefault()">Is admin</mat-checkbox>
  </mat-card-content>
</mat-card>
